---
layout: default
index: true
---

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

              <div style="vertical-align:center;display:inline-block;text-align:center;max-width:100%">
                  <img style="max-width:70%;border:none" src="{{ "/images/screenshot-horizontal.png" | prepend: site.baseurl }}" alt="Screenshot of Kaidan in widescreen">
                  <img style="max-width:26.25%;border:none" src="{{ "/images/screenshot-vertical.png" | prepend: site.baseurl }}" alt="Screenshot of Kaidan">

                  <h3>Current version: {{ site.latest_release }}</h3>
                  <h4>(released {{ site.latest_release_date | date_to_long_string }})</h4>
                  <a style="font-size:16px;" href="{{ "/download/" | prepend: site.baseurl }}" class="btn btn-primary btn-sm">Download</a>
              </div>

              <div style="margin-top:20px">
                <h2>News</h2>
                {% for post in site.posts %}
                  {% if forloop.index > 3 %}{% break %}{% endif %}
                  <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                  <p><i class="fa fa-calendar"></i> &nbsp;{{ post.date | date: "%b %-d, %Y" }} {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
        |  <a href="{% if page.index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
        {% endif %}</p>
                {% endfor %}

                <h4 style="padding-top:10px"><a href="{{ "/archive/" | prepend: site.baseurl }}">More…</a></h4>
              </div>

              <div style="margin-top:40px">
                <h2 style="padding-bottom:10px">About</h2>
                <p>
                    Kaidan is a user-friendly and modern chat app for every device.
                    It uses the open communication protocol <a href="https://xmpp.org">XMPP (Jabber)</a>.
                    Unlike other chat apps, you are not dependent on one specific service provider.
                </p>
                <p>
                    Kaidan does not have all basic features yet and has still some stability issues.
                    But we do our best to improve it!
                </p>
              </div>


              <div style="margin-top:40px">
                <h2 style="padding-bottom:10px">Features</h2>
                <div class="features">
                  <div class="feature">
                    <div class="feature-content">
                      <h3 style="color: #2d9b73ff;">End-to-End Encryption</h3>
                      <p>Send encrypted messages for more privacy and security. Your messages stay yours.</p>
                    </div>
                    <div>
                      <img alt="A sad bandit in front of a locked padlock" width=200 src="{{ "/images/features/end-to-end-encryption.svg" | prepend: site.baseurl }}"></img>
                    </div>
                  </div>
                  <div class="feature">
                    <div>
                      <img alt="A man singing into a microphone" width=200 src="{{ "/images/features/audio-message.svg" | prepend: site.baseurl }}"></img>
                    </div>
                    <div class="feature-content">
                      <h3 style="color: #2d9b73ff;">Audio Messages</h3>
                      <p>Send audio messages for an easier and more personal conversation.</p>
                    </div>
                  </div>
                  <div class="feature">
                    <div class="feature-content">
                      <h3 style="color: #2d9b73ff;">Video Messages</h3>
                      <p>Send short video messages to capture a moment and let your contacts experience it with you.</p>
                    </div>
                    <div>
                      <img alt="A woman posing in front of a camera" width=200 src="{{ "/images/features/video-message.svg" | prepend: site.baseurl }}"></img>
                    </div>
                  </div>
                  <div class="feature">
                    <div>
                      <img alt="A young man putting a file into an envelope" width=200 src="{{ "/images/features/file-sharing.svg" | prepend: site.baseurl }}"></img>
                    </div>
                    <div class="feature-content">
                      <h3 style="color: #2d9b73ff;">File Sharing</h3>
                      <p>Share files with your chat partners when you need to work together.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
        </div>
