{% if site.fb_username %}
<div class="fb_share">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=354997024639145&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-share-button" data-layout="button_count"></div>
</div>
{% endif %}

{% if site.twitter_username %}
<div class="twitter_share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.twitter_username }}" data-hashtags="sailsjs">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
{% endif %}

{% if site.linkedin_username %}
<div class="linkedin_share">
    <script src="//platform.linkedin.com/in.js" type="text/javascript">
      lang: en_US
    </script>
    <script type="IN/Share" data-counter="right"></script>
</div>
{% endif %}

{% if site.gplus_username %}
<div class="g_share">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <div class="g-plus" data-action="share" data-annotation="bubble"></div>
</div>
{% endif %}
