<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
     {% include header.html %}

    <div class="col-md-12 blog-theme-class">
          <!-- Top Blog Header -->
          <div class="row jumb-bot">
            <div class="col-md-4"></div>
            <div class="jumbotron jumb-bot-jumbu col-md-4">

              <img style="height:12em;max-width:100%" src="{{ "/images/logo-with-text.svg" | prepend: site.baseurl }}" alt="Kaidan logo with text">

            </div>
            <div class="col-md-4"></div>
          </div>
    </div>
    <div class="col-md-12">
        {{ content }}
    </div>
    <div class="col-md-12 share-div">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          {% include sharer.html %}
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12">
    {% include endfooter.html %}
    </div>

  </body>

</html>
